
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno(a) @ViewData["Aluno(a)"]</p>
   

<address>
    <strong>More information:</strong> <a href="http://github.com/VanessaCarvalho-VNS">github.com/VanessaCarvalho-VNS</a>
</address>