html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}



main {
    min-height: calc(100vh - 160px);
}




/* Nome do sistema */
.navbar-brand {
    font-size: 1.6rem;
    font-weight: 700;
}

.navbar-nav .nav-link {
    transition: all 0.3s ease;
    font-size: 1.35rem;
    font-weight: 600;
    padding: 0.9rem 1.4rem;
}

    .navbar-nav .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 6px;
    }

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 1.15rem;
        padding: 0.7rem 1rem;
    }
}

.table thead tr.thead-purple th {
    background-color: #6f42c1 !important; /* roxo */
    color: white !important;
}

.table thead th {
    vertical-align: middle;
}

.table td, .table th {
    vertical-align: middle;
}

.table tbody tr:hover {
    background-color: #f3eefe;
}

.btn-sm {
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 0.8rem;
}

.table .btn {
    border-radius: 8px;
}

.btn-create {
    border: 2px solid #6f42c1;
    border-radius: 8px;
}

    .btn-create:hover {
        background-color: #6f42c1;
        color: white;
    }

/* Fonte da tabela */
.table {
    font-size: 1.1rem;
}

    /* Cabeçalho da tabela */
    .table thead th {
        font-size: 1.15rem;
        font-weight: 600;
    }

    /* Corpo da tabela */
    .table tbody td {
        font-size: 1.05rem;
    }
